@height:40px;
@offset: 50px;
@width: 1233px;
@color: #FFFF00;
@color1: #ffd180 ;
@color2: #f6ba52;
@color3: #c38108;
@color4:rgba(248,199,66,0.40);

a{
 text-decoration: none !important
}
a:hover{
    text-decoration: none !important
}
.skedList{
    text-align: left;
}


.countainer{
    margin: 15px;
    width: @width;
}

.title{
    text-align: right;

}

.dayName{
    text-align: center;
    background-color: rgba(248,199,66,0.40);
    border-radius: 10px;
    width: inherit;
    margin-top: 20px;
    page-break-inside: avoid;
}

.dayString{
    margin: auto;

    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;

}

.dayString h4{
    text-align: center;
    margin: auto;
    color: @color3;
}

.day {
    opacity: 0.9;
    width:1117px;
    height: @height;
    background: repeating-linear-gradient(
            to right,
            @color2,
            @color2 36px,
            @color1 36px,
            @color1 72px
    );
    float: left;
}

.time_line{
    position: absolute;
    height: @height;
    z-index: -1;
    padding-left: @offset;
    width: 1168px;
}

.hour{
    float: left;
    width: 36px;
    margin-top: 10px;
    text-align: center;
}

.bort{
    margin: 10px;
    height: @height+10;
    opacity: 0.9;
}

.rect {
    background-color: @color;
    width: 360px;
    height: @height;
    z-index: 10;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    left: 0px;
    font-size: 10px;
    position: absolute;
}

.textRow{

    vertical-align: middle;
}

.wide-text-edit{
    width: 70px !important;
}

.left_col{
    text-align: center;
    padding: 5px;
    width:  @offset;
    overflow: hidden;
    float: left;
    background-color: @color;
    height: @height;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.duration{
    background-color: @color;
    width: 90px;
    float: left;
    padding: 5px;
    text-align: center;
    height: @height;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn_board{
    text-align: center;
}

.btn {
    background-color: @color2;
}
.btn:focus {
    background-color: @color1;
    border: solid  @color2 1px ;
    outline: solid  @color2 1px;
}

.delBort{
    padding-top: 10px;
    width: 20px;
    background-color: #ffff00;
    float: left;
    text-align: center;
    height: 40px;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    padding-right: 20px;
}
.editBort{
    padding-top: 10px;
    width: 16px;
    background-color: #ffff00;
    float: left;
    text-align: center;
    height: 40px;
    display: block;
    cursor: pointer;
    padding-left: 2px;
}
.hide{
    display: none;
}
fieldset input{
    width: 100% !important;
}
.navbar{
    margin-bottom: 0 !important;
}
.navbar a {
    cursor: pointer;
}
.navbar img{
    width: 150px;
}
.nav h2{
    line-height: 0;
    padding-right: 20px;
}
.backPane{
    background-image: url("/img/windrose.png");
    background-size: cover;
    width: 100%;
    height: 700px;
}

.nalet{
    .dayName;
    text-align:left;
    color: @color3;
    padding-top: 8px;
    padding-bottom: 2px;
    li{
        font-size: 20px;
        line-height: 30px;
    }

}
#side-bar{
    text-align: center;
    float:right;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 20px;
    min-width: 160px;
    margin-right: 10px;
    background-color: @color4;
    max-height:750px;
    min-height: 100px;
    color: @color3;
    overflow-y: scroll;
    padding: 5px;

    h4 {
        padding: 5px;
    }
    input{
        width: 100%
    }
    p{
        .noselect;
        word-wrap: break-word;
        color: #000;
        overflow: hidden;
        text-align: left;
        padding: 5px;

    }
    :nth-child(even){
        background-color: @color4;
    }
    form{
        background-color: transparent !important;
    }
}

.periodModal input{
    width: 47% !important;
    margin-right:2% ;
    float: left;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#multi{
    margin: auto;
    float: none;
}

@media print
{
    .ui-resizable-handle{
        display: none !important;
    }

    .no-print, .no-print *
    {
        display: none !important;
    }

    .rect{
        border: 1px solid black;
        height: 48px;
    }
    .bort{
        border: 1px solid black;
    }
}

@media (max-width:1570px)  {
    #side-bar{
        top: 3000px;
        position: absolute;
        max-width: @width !important;
        width: @width  !important;
        left: 17px;
    }
}

.ui-draggable-disabled {
    opacity: 1 !important;
}
.ui-resizable-disabled{
    opacity: 1 !important;
}

#setSkedRangeWrapper{
    padding: 20px;
    float: right;
}
#setSkedRangeWrapper div{
    text-align: left
}
#setSkedRangeWrapper > div{
    text-align: right;
}

#jrange > .hasDatepicker{
    margin-bottom: -250px;
    z-index: 2000;
}
.warning input{
    display: none;
}
.pulseWarning{
    display: none !important;
}
.periodModal{
    h2{
        color: #575757;
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        text-transform: none;
        position: relative;
        margin: 25px 0;
        padding: 0;
        display: block;
        line-height: 0.5em;
    }
    p,strong{
        color: #797979;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        text-align: inherit;
        float: none;
        margin: 0;
        padding: 0;
        line-height: 2em;
    }
    .sa-icon .sa-custom{
        margin-top: 0;
    }
}