<template name="block">
    <tr>
        <td>
            <div class="form-group">
                <select class="form-control" id="companySelect">
                    <option selected="selected">{{company}}</option>
                    {{#each companys}}
                        {{> companyRow}}
                    {{/each}}
                </select>
            </div>
        </td>
        <td> {{> editableText  collection="data" field="amount"}}</td>
        <td> <span  datafld="{{_id}}" class="close cls">&times;</span></td>
    </tr>
</template>


<template name="blockShortView">
    <span>
    {{company}} {{> editableText  collection="data" field="amount"}}
    </span>
</template>

<template name="companyRow">
    <option>{{company}}</option>
</template>