<template name="flights">
    {{#if blockMode}}
        <div id="{{_id}}" style="width: {{width}}px; left: {{left}}px ;"
             class="rect {{#if fixed}}fixed{{/if}} {{#if depSlot}}fixed{{/if}} {{#if arrSlot}}fixed{{/if}}">

            <span>{{> editableText  collection="data" field="fltNumber"}}</span> <br/>
            {{#each blocks}}
                {{> blockShortView}}
            {{/each}}
        </div>
    {{else}}
        <div id="{{_id}}" style="width: {{width}}px; left: {{left}}px ;"
             class="rect {{#if fixed}}fixed{{/if}} {{#if depSlot}}fixed{{/if}} {{#if arrSlot}}fixed{{/if}}">

            <span>{{> editableText  collection="data" field="fltNumber"}}</span>
            <br/>
            <span class='depSlot'
                  style="{{#if depSlot}}text-decoration: underline; {{/if}}float:left;">{{depTime}}</span>
            <span class='arrSlot'
                  style="{{#if arrSlot}}text-decoration: underline; {{/if}}float:right;">{{arrTimeFormat}}</span>
            <br/>
         <span class="textRow"> {{> editableText  collection="data" field="direction"}}
         </span>
        </div>
    {{/if}}
</template>




