<template name="sked">
    {{>sidebar}}
    <div id={{_id}} class="countainer">
        <h1 style='display: none' class="title">{{title}}.</h1>

        <div class="nalet">
            <div title="Щоб обнулити - зроби дабл клik" class="wrapper" id="setSkedRangeWrapper">
                <div id="jrange" class="dates">
                    <input id="setSkedRange" type="button"
                           value="{{#if range}}{{#each range}}{{this}}  {{/each}} {{else}}Задати перiод {{/if}}"/>

                    <div></div>
                </div>

            </div>
            <ul>
                {{#each bort}}
                    <li>
                        {{>nalet}}
                    </li>
                {{/each}}
            </ul>
        </div>
        {{#each week}}
            {{> day}}
        {{/each}}
    </div>
</template>